@import url(./all-themes.css);
@import url(./flexi-key-frames.css);
@import "tailwindcss";


@reference "./flexiwind/base.css";
@reference "./flexiwind/form.css";
@reference "./flexiwind/button.css";
@reference "./flexiwind/ui.css";
@reference "./flexiwind/utils.css";


@reference "./button-styles.css";
@reference "./utilities.css";

@plugin "@iconify/tailwind4" {
    prefixes: ph, simple-icons;
    scale: 1.2;
}



@custom-variant dark (&:is(.dark *));


html{
    scroll-behavior: smooth;
}

:root {
    --global-main-radius: 0.5rem;
    --ui-input-focus-outline: var(--c-primary);
    --ui-input-place-holder: var(--c-gray-500);
    --ui-input-invalid-outline: var(--c-danger);
    --ring-bg: var(--c-primary);
    --ring-offset-color: var(--c-bg);

    --focus-ring: var(--c-primary-200);
}

.dark {
    --c-border-input: var(--c-gray-700);
    --focus-ring: --alpha(var(--c-primary-800)/30%);
}



@theme inline {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --radius-global: var(--global-main-radius);

    --color-white: var(--c-white);
    --color-dark: var(--c-gray-950);

    --color-primary: var(--c-primary);
    --color-secondary: var(--c-secondary);
    --color-accent: var(--c-accent);
    --color-info: var(--c-info);
    --color-warning: var(--c-warning);
    --color-danger: var(--c-danger);
    --color-success: var(--c-success);

    --color-fg-title: var(--c-fg-title);
    --color-fg-subtitle: var(--c-fg-subtitle);
    --color-fg: var(--c-fg);
    --color-fg-muted: var(--c-fg-muted);
    --color-fg-soft: var(--c-fg-soft);

    --color-bg: var(--c-bg);
    --color-bg-subtle: var(--c-bg-subtle);
    --color-bg-surface: var(--c-bg-surface);
    --color-bg-muted: var(--c-bg-muted);
    --color-bg-surface-elevated: var(--c-bg-surface-elevated);
    --color-bg-card: var(--c-bg-card);
    --color-bg-card-gray: var(--c-bg-card-gray);
    --color-bg-overlay: var(--c-bg-overlay);
    --color-bg-overlay-gray: var(--c-bg-overlay-gray);


    --color-bg-progressbar: var(--c-bg-progressbar);

    --color-border-strong: var(--c-border-strong);
    --color-border-amphasis: var(--c-border-amphasis);
    --color-border: var(--c-border);
    --color-border-sub: var(--c-border-sub);
    --color-border-card: var(--c-border-card);
    --color-border-input: var(--c-border-input);





    --color-primary-50: var(--c-primary-50);
    --color-primary-100: var(--c-primary-100);
    --color-primary-200: var(--c-primary-200);
    --color-primary-300: var(--c-primary-300);
    --color-primary-400: var(--c-primary-400);
    --color-primary-500: var(--c-primary-500);
    --color-primary-600: var(--c-primary-600);
    --color-primary-700: var(--c-primary-700);
    --color-primary-800: var(--c-primary-800);
    --color-primary-900: var(--c-primary-900);
    --color-primary-950: var(--c-primary-950);

    --color-secondary-50: var(--c-secondary-50);
    --color-secondary-100: var(--c-secondary-100);
    --color-secondary-200: var(--c-secondary-200);
    --color-secondary-300: var(--c-secondary-300);
    --color-secondary-400: var(--c-secondary-400);
    --color-secondary-500: var(--c-secondary-500);
    --color-secondary-600: var(--c-secondary-600);
    --color-secondary-700: var(--c-secondary-700);
    --color-secondary-800: var(--c-secondary-800);
    --color-secondary-900: var(--c-secondary-900);
    --color-secondary-950: var(--c-secondary-950);

    --color-accent-50: var(--c-accent-50);
    --color-accent-100: var(--c-accent-100);
    --color-accent-200: var(--c-accent-200);
    --color-accent-300: var(--c-accent-300);
    --color-accent-400: var(--c-accent-400);
    --color-accent-500: var(--c-accent-500);
    --color-accent-600: var(--c-accent-600);
    --color-accent-700: var(--c-accent-700);
    --color-accent-800: var(--c-accent-800);
    --color-accent-900: var(--c-accent-900);
    --color-accent-950: var(--c-accent-950);

    --color-info-50: var(--c-info-50);
    --color-info-100: var(--c-info-100);
    --color-info-200: var(--c-info-200);
    --color-info-300: var(--c-info-300);
    --color-info-400: var(--c-info-400);
    --color-info-500: var(--c-info-500);
    --color-info-600: var(--c-info-600);
    --color-info-700: var(--c-info-700);
    --color-info-800: var(--c-info-800);
    --color-info-900: var(--c-info-900);
    --color-info-950: var(--c-info-950);

    --color-gray-50: var(--c-gray-50);
    --color-gray-100: var(--c-gray-100);
    --color-gray-200: var(--c-gray-200);
    --color-gray-300: var(--c-gray-300);
    --color-gray-400: var(--c-gray-400);
    --color-gray-500: var(--c-gray-500);
    --color-gray-600: var(--c-gray-600);
    --color-gray-700: var(--c-gray-700);
    --color-gray-800: var(--c-gray-800);
    --color-gray-900: var(--c-gray-900);
    --color-gray-950: var(--c-gray-950);

    --color-warning-50: var(--c-warning-50);
    --color-warning-100: var(--c-warning-100);
    --color-warning-200: var(--c-warning-200);
    --color-warning-300: var(--c-warning-300);
    --color-warning-400: var(--c-warning-400);
    --color-warning-500: var(--c-warning-500);
    --color-warning-600: var(--c-warning-600);
    --color-warning-700: var(--c-warning-700);
    --color-warning-800: var(--c-warning-800);
    --color-warning-900: var(--c-warning-900);
    --color-warning-950: var(--c-warning-950);

    --color-danger-50: var(--c-danger-50);
    --color-danger-100: var(--c-danger-100);
    --color-danger-200: var(--c-danger-200);
    --color-danger-300: var(--c-danger-300);
    --color-danger-400: var(--c-danger-400);
    --color-danger-500: var(--c-danger-500);
    --color-danger-600: var(--c-danger-600);
    --color-danger-700: var(--c-danger-700);
    --color-danger-800: var(--c-danger-800);
    --color-danger-900: var(--c-danger-900);
    --color-danger-950: var(--c-danger-950);

    --color-success-50: var(--c-success-50);
    --color-success-100: var(--c-success-100);
    --color-success-200: var(--c-success-200);
    --color-success-300: var(--c-success-300);
    --color-success-400: var(--c-success-400);
    --color-success-500: var(--c-success-500);
    --color-success-600: var(--c-success-600);
    --color-success-700: var(--c-success-700);
    --color-success-800: var(--c-success-800);
    --color-success-900: var(--c-success-900);
    --color-success-950: var(--c-success-950);
}




@utility docs-sidebar {
    @apply fixed lg:sticky top-0 left-0 -translate-x-full lg:top-16 fx-open:translate-x-0 invisible fx-open:visible lg:visible transition-transform duration-300 ease-linear lg:transition-none w-11/12 max-w-80 lg:max-w-none md:w-full h-dvh lg:h-[calc(100dvh-4rem)] lg:translate-x-0;
}


@utility docs-container {
    @apply lg:max-w-[84rem] xl:max-w-[88rem] w-full mx-auto;
}


@utility tab-content-ui {
    top: calc(var(--spacing, 0.25rem) * 25);
    @apply fixed right-4 sm:right-8 xl:sticky flex flex-col w-full overflow-hidden overflow-y-auto;
}

@utility tab-content-ui-states {
    @apply invisible fx-open:visible opacity-0 translate-y-4 fx-open:translate-y-0 fx-open:opacity-100 xl:fx-open:opacity-100 xl:fx-open:visible xl:opacity-100 xl:visible xl:translate-y-0 xl:fx-open:translate-y-0;
}

@utility tab-content-ui-bg {
    @apply border border-border/90 bg-bg-subtle/70 backdrop-blur-xl lg:bg-transparent lg:border-transparent;
}

@utility box-tab-content {
    @apply rounded-lg xl:p-0 z-40 h-max max-h-90 xl:max-h-none xl:h-[calc(100dvh-4rem)] w-60 xl:w-full;
}

@utility tab-content-animation {
    @apply ease-linear duration-200 dark:ease-linear;
}


@utility inline-code {
    background-color: --alpha(var(--c-gray-100)/ 60%);
    border-width: 1px;
    border-color: --alpha(var(--c-gray-200)/ 90%);
    border-radius: 0.5rem;
    padding: 0.125rem 0.5rem;
    color: var(--c-gray-700);

    &:is(.dark *) {
        background-color: --alpha(var(--c-gray-900)/ 60%);
        border-color: --alpha(var(--c-gray-800)/ 60%);
        color: var(--c-gray-300);
    }
}

@utility strong-text {
    @apply text-fg-subtitle;
}